DISCORD_TOKEN=MTU1NDA4Mzc1NDE4MjU3ODE4Ng.Gvcjj7.qhc4WSbsZ4fGupSe_wMyLRRXuL8oYRUyiWwyGo
STOCKFISH_PATH=stockfish
# 1-20, 20 = force maximale (quasi injouable)
SKILL_LEVEL=20
# temps de reflexion du moteur par coup, en secondes
THINK_TIME=2.5
